@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 400;
  src: local('Darker Grotesque Regular'), local('DarkerGrotesque-Regular'),
    url(./assets/fonts/DarkerGrotesque-Regular.ttf) format('truetype');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}
