@font-face {
  font-family: 'Darker Grotesque';
  font-style: normal;
  font-weight: 400;
  src: local('Darker Grotesque Regular'), local('DarkerGrotesque-Regular'),
    url(./assets/fonts/DarkerGrotesque-Regular.ttf) format('truetype');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}

/* Passages  */
.bible-content {
  text-align: justify;
  width: 50%;
  margin: 6rem auto auto auto;
}

.p {
  margin: 0;
  font-size: 1.2rem;
}

p:last-of-type {
  margin-bottom: 1rem;
}

span[data-number] {
  font-weight: bold;
  padding: 0 10px;
}
